@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@300;400;500;600;700;900&family=Press+Start+2P&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body,
input,
button {
  font-family: Murecho, sans-serif;
}

button {
  font-size: 1.5rem;
  font-weight: 700;
}