$white: #fff;
$black: #000;
$selago: #F0F4FD;
$bali-hai: #919BB3;
$indigo: #5A55CA;
$burnt-sienna: #F26950;
$downriver: #0B204C;
$cadet-blue: #B2BAC9;
$shamrock: #2CC09C;
$port-gore: #22215B;

$checked: $shamrock;

$not-important: $shamrock;
$important: #DEC62C;
$very-important: $burnt-sienna;

$error-color: $burnt-sienna;