@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,300&display=swap');

$body-font-family: "Poppins";
$title-font: "Poppins";

.v-application {
  font-family: $body-font-family, sans-serif !important;
  .title,
  .headline {
    font-family: $title-font, sans-serif !important;
  }
}
